html {
    font-size: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family:'Lato', sans-serif;
    color: #2e354f
}

.section-one {
    font-size: 2rem;
}
ul { /* 1.5 = 150% */
    font-size: 1.5rem;
}

img {
    width : 100%;
}

h1,h2, strong {
    font-weight: 900;
}

/*typography*/

h1 {
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    color: #ef5839;
}

a {
    color: #ef5839
}

a:hover, a:focus {
    color:#d4b44c;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 18px 25px;
    text-decoration: none;
}

.btn-accent {
    background: #ef5839;
    color: #fff;
}

.btn-accent:hover {
    color: #2e354f;
    background: #999;
}

.btn-white {
    color: #fff;
    background: #2e354f;
}
 
.btn-white:hover {
    color: #2e354f;
    background: #999;
}

/* layout */
header {
    background: #2e354f;
    padding: 45px 0;
    color: #fff;
}

section {
    padding: 45px 0;
}

.container {
    max-width: 620px;
    width: 90%;
    margin: 0 auto;
    border: 2px solid magenta;
}

.section-two {
    background: #2e354f;
    color:
     #fff;
}

