/* html {
    font-size: 16px;
    font-family: 'Lora', serif;
} */

body {
    margin: 0;
    font-family: 'ubuntu', sans-serif;
}

/* Layout */

header {
    background: bisque;
    padding: 2em 0;
}

.container {
    width: 90%;
    max-width: 900px;
    /* border:1px solid red; */
    margin: 0 auto;

}

.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* typograpfy */
h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
    margin: 0;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #1792D2;
    margin: 0;
    font-size: 0.75em;
}



/* navigation*/
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}


nav a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
    color: white;
}

.current-page {
    border-bottom: 1px solid black;
}

.current-page:hover {
    color: black;
}


@media screen and (max-width:750px) {
    .container-nav {
        flex-direction: column;
        /* justify-content: center; */
    }

    header {
        text-align: center;
    }

    nav li {
        margin: 0.5em 0;
        /* line-height: 2.5; */
    }

    nav ul {
        flex-direction: column;
    }
}