/* html {
    font-size: 16px;
    font-family: 'Lora', serif;
} */

header {
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li{
    margin: 0 1em;
}


nav a {
}

h1 {
    font-size: 3.375rem;
    color: #143774;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: #1792D2;
}